pytorch-lightning==1.6.2
Pillow
matplotlib
scikit-image
torchmetrics==0.8.1
oyaml
onnxruntime
tifffile
gitpython
wget
kornia==0.6.4
oyaml

# pip3 install torch==1.10.1+cu113 torchvision==0.11.2+cu113 torchaudio==0.10.1+cu113 -f https://download.pytorch.org/whl/cu113/torch_stable.html
# pip install setuptools==59.5.0
